.container {
	@apply w-[90%] md:w-[600px];
	margin-bottom: auto;
	padding: 20px;
	background-color: #014a7e;
	border-radius: 5px;

	.heading {
		text-align: center;
		margin-bottom: 10px;
	}

	form {
		display: flex;
		flex-direction: column;
	}

	label {
		margin-top: 10px;
		margin-bottom: 4px;
	}

	input[type='text'],
	input[type='email'],
	select,
	textarea {
		padding: 10px;
		border: none;
		border-radius: 5px;
		margin-bottom: 20px;
		color: black;
	}

	input[type='submit'] {
		background-color: #4caf50;
		color: white;
		padding: 10px 20px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
	}

	input[type='submit']:hover {
		background-color: #3e8e41;
	}

	span.required {
		color: red;
		margin-left: 5px;
	}
}
