@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--lab-blue: #014a7f;
	--github-bg: #0d1117;
	--github-bg-light: #161b22;
	--github-border: #30363d;
	--github-link-bg: #21262d;
	--github-link-bg-hover: #30363d;
	// deve vars kunnen met tailwind worden gebruikt, zie tailwind.config.js
}

body {
	color: #e6edf3;
	background-color: var(--github-bg);
	// ^ == @apply bg-dark
	line-height: 1.2;
}

h1 {
	@apply text-4xl;
}

h4 {
	@apply pb-2 text-2xl;
}

a,
button {
	@apply rounded-[10px] border border-gh-border bg-link p-2 px-4;

	&:hover {
		@apply border-white bg-link-hover;
	}

	&:disabled {
		@apply border-dark bg-lighter text-gh-border;
	}
}

.btn-group {
	button {
		@apply rounded-[0] border-x-[0.5px] p-2 py-1;

		&:first-of-type {
			@apply rounded-l-[10px] border-l-[1px];
		}

		&:last-of-type {
			@apply rounded-r-[10px] border-r-[1px];
		}
	}
}
