.navbar {
	background-color: #333;
	padding: 0 0 0 8rem;
	border-bottom-right-radius: 1rem;
}

.body {
	margin: 2rem auto;
}

body {
	background-color: #333;
	color: #fff;
}
.logo {
	position: absolute;
	top: 0;
	left: 0;
	margin: 2rem;
	background-color: #333;
	margin: 0;
	padding: 0.5rem;
	border-bottom-right-radius: 1rem;
}

@media screen and (max-width: 600px) {
	.container {
		max-width: 100% !important;
		padding: 10px;
	}

	.navbar-toggler {
		display: block;
		color: #fff;
	}
}

a {
	font-size: larger;
}
